@using Microsoft.AspNetCore.Identity
@using Hive_IT.Data

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

@if (_signInManager.IsSignedIn(User))
{   
        <ul class ="nav navbar-nav">
            <li><a asp-area="" asp-controller="Account" asp-action="List">Users</a></li>
            <li><a asp-area="" asp-controller="roles" asp-action="">Roles</a></li>
            <li><a asp-area="" asp-controller="account" asp-action="ChangePassword">Change Password</a></li>            
        </ul>    
        <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" asp-area="" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log Out</button>
                </li>
            </ul>
        </form>    
}
