html{
    position: relative;
    min-height: 100%;
}

body {    
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Styling general look of website */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #222222;
    border-top: 1px solid #080808;
}

.footer-span{
    color: darkgray;
}


/* Styling base classes to look better*/
.pager .next a{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.pager .previous a {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.pager .next a:hover {
    color: #fff;
    background-color: #06aadb;
    border-color: #0390ba;
}

.pager .previous a:hover {
    color: #fff;
    background-color: #06aadb;
    border-color: #0390ba;
}

thead {
    color:white;
    background-color: #111111;
}

.table-bordered thead tr th {
    border-color: #727272;
}

.table-bordered tbody tr td {
    border-right-color: #727272;
    border-left-color: #727272;
}

.table-bordered tbody tr:last-of-type td {
    border-bottom-color: #727272;
}

.table-bordered tbody tr:nth-of-type(2n) td {
    background-color: #dbdbdb;
}

.btn-group form{
    display:inline
}

.btn-group form button {
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
}
.panel-primary .panel-heading .btn-primary {
    border-color: white;
}


/* Custom Class styling*/
.input-validation-error{
    color:red;
    background-color: white;
    border-radius: 5px;
}

.field-validation-error {
    color: red;
    background-color: white;
    border-radius: 5px;
}

.default-warning{
    font-size: 20px;
    color: black;
    font-weight: bold;
    border: 5px dashed darkorange;
    background-color: red;
}
.default-warning p{
    text-align:center;
}

.description{
    font-size: 1.4em;
    text-indent: 3em;
}

#username-panel {
    border-color: #222222;
}

#username-panel .panel-heading{
    background-color: #222222;
    color: white;
}

#role-panel {
    border-color: #444444;
}

#role-panel .panel-heading {
    background-color: #666666;
    color: white;
}

#email-panel {
    border-color: #2557a8;
}

#email-panel .panel-heading {
    background-color: #3582ff;
    color: white;
}

.home-buttons li a {
    margin-bottom: 20px;
}

.customer-heading-panel{
    border: 1px solid black;
}

.customer-heading-panel .panel-heading{
    background-color: #111111;
    color: darkgray;
    border-bottom: 1px solid transparent;
}

.customer-heading-panel .panel-footer{
    background-color: lightgray;
    border-top: 1px #ddd;
}

.panel-customer-phone {
    border: 1px solid #069999;
}

.panel-customer-phone .panel-heading {
    color: white;
    background-color: #15a3a3;
}

.panel-customer-address {
    border: 1px solid #bce8f1;
}

.panel-customer-address .panel-heading {
    background-color: #bddded;
    color: #31708f;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
