@model Hive_IT.Data.CustomerPhoneNumber

<div class="panel panel-customer-phone">
    <div class="panel-heading">
        <fieldset>
            <form asp-action="AddPhone" role="form">
                @Html.AntiForgeryToken()

                <div asp-validation-summary="All" class="input-validation-error"></div>

                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input type="text" asp-for="PhoneNumber " class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="field-validation-error"></span>
                </div>

                @Html.HiddenFor(v => v.CustomerId)

                <div>
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Phone
                    </button>
                </div>

                <div class="clearfix">
                    <a class="btn btn-danger pull-right" asp-action="Profile" asp-route-id="@Model.CustomerId">
                        <span class="glyphicon glyphicon-stop"></span> Cancel
                    </a>
                </div>
            </form>
        </fieldset>
    </div>
</div>