@{
    ViewData["Title"] = "Create A Role";
}

 @model Hive_IT.Data.ApplicationRole

<fieldset class="role">
    <h1 class="text-center">Create a role</h1>
    <br />

    <form role="form" asp-action="Create">
        @Html.AntiForgeryToken()

        <div asp-validation-summary ="All" class="input-validation-error"></div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="field-validation=error"></span>
        </div>

        <div class="clearfix">
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary pull-left" > Create a Role!</button>

            <a class="btn btn-danger pull-right" asp-action="Index">
                <span class="glyphicon glyphicon-stop"></span> Cancel
            </a>
        </div>

    </form>
</fieldset>