@{
    ViewData["Title"] = "Roles";
    }

@model Hive_IT.Models.RoleListViewModel

<h1 class="text-center">Available roles</h1>
<br />

<table class="table-bordered text-center col-sm-12" >
    <thead>
        <tr>
            <th class="col-sm-6 text-center">Name of Role</th>
            @if (User.IsInRole("Admin"))
            {
                <th textalign="center" class="col-sm-4 text-center">Action</th>
            }
                               
        </tr>
    </thead>
    <tbody>
        @foreach(var role in Model.Roles)
        {
            <tr>
                <td style="padding-left: 1em">@role</td>
                @if (User.IsInRole("Admin"))
                {
                <td>
                    @{
                        if (role.ToLower() != "admin" && role.ToLower() != "manager")
                        {
                            using (Html.BeginForm("delete", "roles", new { id = role }))
                            {
                                <button value="DELETE" formnovalidate class=" col-sm-12 btn btn-danger" 
                                        onclick="return confirm('Are you sure you want to delete this position?')">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true">
                                        </span> Delete Role</button>
                            }
                        }
                    }
                </td>
                }                    
            </tr>
            }
    </tbody>
</table>
<br />

@if (User.IsInRole("Admin"))
{
    <div class="col-sm-12">
        <br />
    </div>
    <a class="btn btn-success bottom-left" href="@Url.Action("create", "roles")">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a new role</a>
}
