@{
    ViewData["Title"] = "ChangePassword";
}
@model Hive_IT.Models.Account.ChangePasswordViewModel

<fieldset>
    <h1>Change your password</h1>
    <br />

    <form role="form" asp-action="ChangePassword">
        @Html.AntiForgeryToken()
        
        <div asp-validation-summary="All" class="input-validation-error"></div>
        
        <div class="form-group">
            <label asp-for="OldPassword"></label>
            <input type="password" asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="field-validation-error"></span>          
        </div>

        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <input type="password" asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="field-validation-error"></span>
        </div>

        <div>
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary">Edit Password</button>
        </div>

    </form>
</fieldset>