@{
    ViewData["Title"] = "Login";
}

@model Hive_IT.Models.Account.LoginViewModel

<fieldset class ="account">

    <h1 class="text-center">Login</h1>
    <br />
    <form role="form" asp-action="Login">
        @Html.AntiForgeryToken()

        <div asp-validation-summary ="All" class="input-validation-error"></div>        

        <div class="form-group">
            <label asp-for="UserName"></label>
            <input type="text" asp-for="UserName" class="form-control"/>
            <span asp-validation-for="UserName" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="field-validation-error"></span>
        </div>

        <div>
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary pull-left">Login</button>
        </div>
    </form>
</fieldset>