@model Hive_IT.Models.WorkOrders.AddDeviceViewModel

@{
    ViewData["Title"] = "Warning";
}

<br />
<div id="manufacturer-empty" class="text-center">
    <p> Either no Manufacturers and/or Models exist in the database! Admin needs to add some in order for this to work properly!</p>
</div>