@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="text-center">Welcome to Hive IT!</h1>
    <br /><br />

    <p class="description">
           Welcome to the home page. To get started either click the navigation links above
        or click one of the links below.
    </p><br />

<ul class="home-buttons text-center" style="list-style: none">
    <li>
        <a class="btn btn-primary" href="@Url.Action("List", "Customer")">
            This takes you to the list of customers to manage
        </a>
    </li>
   
    <li>
        <a class="btn btn-primary" href="@Url.Action("List", "Account")">
            This takes you to the list of current users
        </a>
    </li>

    <li>
        <a class="btn btn-primary" href="@Url.Action("", "Roles")">
            This takes you to the list of roles
        </a>
    </li>

</ul>
    
    

