@{
    ViewData["Title"] = "Home Page";
}

    <h1>Welcome to Hive IT!</h1>

    <p>
        Hive IT is designed with management of users in mind. As long as one is logged 
        into the system it can be used. Actions differ between users based off of their role 
        (difference between admins and other roles only currently). 
    </p>
    <p>
        Navigation of the site is easy. The navigation bar above can be found on every page. 
        On it you can find links to a number of pages. There is a link to the project name and a home button; 
        both of which link here. There's a link (Users) to be shown all the current users in the database. There
        is a button (roles) which similarily shows all the roles that can be assigned that exist. Finally the last
        buttons allow whichever user is assigned to change their password and to logout.
    </p>
